<configuration>
	<connectionStrings>
		<add name="LabConnectionString" connectionString="Data Source=localhost\SqlExpress;Initial Catalog=Lab;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.webServer>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<remove segment="bin"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="Off"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
